#section0,
	#section1,
	#section2 {
    background-size: cover;
}

#section0 {
    background-image: url(../img/thor.jpg);
}

#section1 {
    background-image: url(../img/landscape.png);
}

#section2 {
    background-image: url(../img/cosmos.jpg);
}

#header {
	top: 0px;
	position: fixed;
	height: 30px;
	width: 100%;
	background: #000;
	z-index:9;
	padding: 20px 0 0 0;
	opacity: 0.6;
}

#header a:hover {
	color: #FF851B;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

#logo {
	float: left;
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	padding-left: 40px;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav {
	float: right;
	padding-right: 40px;
}

nav a {
	padding-right: 40px;
	color: white;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

#avatar {
	margin: 15%;
	display: block;
	height: 150px;
	width: 150px;
	border: 5px solid black;
	float: left;
}

.welcome {
	float: right;
	color: black;
	font-size: 50px;
	font-weight: bold;
	padding: 15% 8% 0 0;
}

span {
	color: orange;
}