extends ../layout

block front
  +front(
    'I\'m back',
    'My blog is back up and running!'
  )

block content
  .post
    :markdown
      # I'm back
      ### February 16, 2015
      
      My blog is back up and running. I've been lazy to add it back because of my new website layout.
      Now I have to add back all my old posts to the blog.

      I just spend a few hours adding back my old posts. Also, I refactor them for better readability.

      It has been almost half a year since my last blog post. Since then, I learned a lot about JavaScript.
      JavaScript has a  bunch of front end frameworks like Angular, Backbone, React, Ember, etc. I choose one depending on the project's needs.
      Furthermore, JavaScript on the backend is superb. You can set up a full web application in a matter of minutes.
      There are a plethora of npm modules to choose from and I myself have published a [few](https://www.npmjs.com/~creaturephil).
      JavaScript is without a doubt, the dominant choice for the web. I hope to make a lot more awesome projects with it.
