extends ../layout

block front
  +front(
    'People you should follow',
    'You can learn a lot from following people.'
  )

block content
  .post
    :markdown
      # People you should follow
      ### July 20, 2014
      
      Why should you follow people in the first place? Well, no one is forcing you so you don't have to follow anybody if you don't want to. But, following people can give you inspiration and great insight on their work. This allows you to gain more knowledge about the potential career paths ahead you.

      ![Zach Holman face](https://avatars0.githubusercontent.com/u/2723?s=460)

      I'll start off with [Zach Holman](http://zachholman.com/). He is a web developer and employee number nine at Github. He is enthusiastic about his company he is working for and that is what makes him pretty cool. Holman's enthusiasm in his talks made me realized how great working for  startups are. Also, that there are people out there who love working for their company. This guy is awesome like many other people I will mention in this post. You should definitely check out his talks as they are one of the best tech talks ever.

      ![Addy Osamni face](https://avatars2.githubusercontent.com/u/110953?s=460)

      Next up is another guy who has a large presence and following. He is [Addy Osmani](http://addyosmani.com/blog/). He is a Google engineer working with the Chrome team. He helps build tools to improve developers like you and me's productivity. I'll take improving productivity any day of the week because I want to get the job done as efficient as possible. Osmani also written two books. Both of them are amazing. I recommend reading [Learning JavaScript Design Patterns](http://addyosmani.com/resources/essentialjsdesignpatterns/book/), essential to any advanced JavaScript developers.

      ![Chris Wanstrath in sunglasses](https://avatars2.githubusercontent.com/u/2?s=460)

      Up next is [Chris Wanstrath](http://chriswanstrath.com/), the co-creator of Github. That is all I have to say, he is the co-creator of Github for god sake! Watch his talks as they are awesome. This is going to be the last Github staff member I going to mentioned as it will get redundant. Go to [Github team page](https://github.com/about/team/) to see all the other amazing staff members.

      ![Travis beautiful face](http://tubularlabs.com/assets/img/team/travis.jpg)

      [Travis Neilson](https://www.youtube.com/user/DevTipsForDesigners/videos) is senior product designer of Tabular Labs. Furthermore, he is a Youtuber called [DevTips](https://www.youtube.com/user/DevTipsForDesigners/videos). He gives out great design tips for both designers or developers. Also, he introduced me to the power of sass and also why sass indented flavor is better.

      I hope you gained insight on why following people is excellent.  This post should have help you get a good start on awesome people that you should follow.
