extends ../layout

block front
  +front(
    'Windows Development Environment',
    'My development environment on windows.'
  )

block content
  .post
    :markdown
      # Windows Development Environment
      ### March 19, 2015
      
      I'm currently using a Windows netbook. This is because I have no money sadly. It is the Eee PC model and manufacture by ASUS. It is on a Windows 7 Ultimate. Processor is Intel Atom CPU N450 @ 1.67GHz and 1.00 GB of RAM. 32-bit OS.

      You can see why I can't install Linux. I have never used Linux before so I naturally want to start off with Ubuntu or Linux Mint but both require at least 2 GB of RAM for a smooth OS experience.

      Now since I'm running Windows, I have to find tools to make up for it's lackluster environment. I use cmder for my command prompt and I use vim as my text editor. [Cmder](https://github.com/bliker/cmder) not only looks good with its transparency and tabs, but is also fast and highly functional with numerous options and features. Here is what cmder looks like on my computer:

      ![Cmder](/img/cmder.png)

      I've been using vim for almost a year now and it was worth it going through its high learning curve. Vim is also highly customizable and all its configuration is store in a [vimrc](https://github.com/CreaturePhil/vim/blob/master/_vimrc) file. You can check out my vimrc file on Github. Currently, I'm using gruvbox as my color scheme.

      ![Vim](/img/vim.png)

      Some plugins I use for vim are [lightline](https://github.com/itchyny/lightline.vim), [surround](https://github.com/tpope/vim-surround), [nerdtree](https://github.com/scrooloose/nerdtree), [ctrlp](https://github.com/kien/ctrlp.vim), and [multiple cursors](https://github.com/terryma/vim-multiple-cursors).

      Basically, I use cmder and vim. That is all I need really. I don't really program in Java much but when I use eclipse. I would use Jetbrains IDEA but it is too slow on my computer.

