extends layout

block front_matter
  - var title = 'CreaturePhil';
  - var description = 'Writings and projects by Philip La. Philip La often goes by the username CreaturePhil and likes creating software.';

block content
  .column.full
    h1 CreaturePhil
  .column.two-thirds
    h2 About me
    h2 Contact
  .column.third
    h2 Projects
