extends layout

block content
  .hero-unit
    h1 CreaturePhil

  h3 About me
  p Hello, my name is Philip La and I often go by the username CreaturePhil.
  h3 Contact
  h3 Projects

  .footer
    small &copy; 2014 CreaturePhil
