extends layout

block content
  .hero-unit
    h1 CreaturePhil

  section
    h2 About me
    p.
      Hello, my name is Philip La and I often go by the username CreaturePhil. I like to create websites and web applications.

  section
    h2 Contact

    p Github: #[a(href="https://github.com/CreaturePhil") https://github.com/CreaturePhil]
    p Twitter: #[a(href="https://twitter.com/CreaturePhil") https://twitter.com/CreaturePhil]
    p Email: #[a(href="mailto:birkal@outlook.com") birkal@outlook.com]

  section
    h2 Projects

    a.project(href="http://todothree.herokuapp.com/" target="_blank")
      img(src="img/todothree.png" alt="Todothree")
      h3 What three things do you need to do today? #[small http://todothree.herokuapp.com/]
      p Inspired by Coding Horror's blog post on todo lists. This todo list limits you to 3 todos so you don't use it as much of a crutch and actually help you get stuff done. Built with AngularJS (JavaScript).

    a.project(href="http://koshyphysics.github.io/" target="_blank")
      img(src="img/koshyphysics.png" alt="Koshy Physics")
      h3 Koshy Physics #[small http://koshyphysics.github.io/]
      p Physics Simulations using JavaScript physics engines. Built with JavaScript.
      
    a.project(href="http://creaturephil.github.io/thomasly/" target="_blank")
      img(src="img/thomasly.png" alt="Thomas Ly Project")
      h3 Thomas Ly #[small http://creaturephil.github.io/thomasly/]
      p A responsive website for a friend about a friend. Built with HTML/CSS.

  .footer
    small
      | &copy;  
      script document.write(new Date().getFullYear());
      | &nbsp;CreaturePhil
