extends layout

block front_matter
  - var title = 'CreaturePhil';
  - var description = 'Writings and projects by Philip La. Philip La often goes by the username CreaturePhil and likes creating software.';

block content
  .hero-unit
    h1 CreaturePhil

  h3 About me
  p Hello, my name is Philip La and I often go by the username CreaturePhil. I like to create software, both desktop software and web applications. Currently, I am a K-12 student in California and self teaching myself Computer Science. I have a wide range of skills; frontend development, web design, and backend development. When I'm not coding or studying, I usually play video games, volunteering at local libraries, or go out running.
  h3 Contact
  h3 Projects

  .footer
    small &copy; 2014 CreaturePhil
